In [8]:
import gdown
import pulp as p

import pandas as pd

url = "https://drive.google.com/uc?id=15BPH7-3GGWBfXPJQ3stkT6SHQECbT-pt"
output = "shifts.csv"
gdown.download(url, output, quiet=False)

df = pd.read_csv("shifts.csv", index_col=0)

Downloading...
From: https://drive.google.com/uc?id=15BPH7-3GGWBfXPJQ3stkT6SHQECbT-pt
To: /Users/ethansu/Desktop/Grandeur_Log/integer_programming/shifts.csv
100%|██████████| 298/298 [00:00<00:00, 288kB/s]

In [2]:
df

                           Shift 1 Shift 2 Shift 3 Shift 4  Workers Required
Time Windows
6:00 – 9:00                      X     NaN     NaN       X              55.0
9:00 – 12:00                     X     NaN     NaN     NaN              46.0
12:00 – 15:00                    X       X     NaN     NaN              59.0
15:00 – 18:00                  NaN       X     NaN     NaN              23.0
18:00 – 21:00                  NaN       X       X     NaN              60.0
21:00 – 24:00                  NaN     NaN       X     NaN              38.0
24:00 – 3:00                   NaN     NaN       X       X              20.0
3:00 – 6:00                    NaN     NaN     NaN       X              30.0
Wage rate per 9h shift ($)     135     140     190     188               NaN

In [3]:
df = df.fillna(0).applymap(lambda x: 1 if x == "X" else x)

a = df.drop(index=["Wage rate per 9h shift ($)"], columns=["Workers Required"]).values

a

array([[1, 0, 0, 1],
       [1, 0, 0, 0],
       [1, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 1],
       [0, 0, 0, 1]], dtype=object)

In [5]:
# number of shifts
n = a.shape[1]

# number of time windows
T = a.shape[0]

# number of workers required per time window
d = df["Workers Required"].values

# wage rate per shift
w = df.loc["Wage rate per 9h shift ($)", :].values.astype(int)

w

array([135, 140, 190, 188,   0])

In [9]:
# Decision variables
y = p.LpVariable.dicts("num_workers", list(range(n)), lowBound=0, cat="Integer")